<div class="grid-x grid-padding-y" data-id="{{id}}">
  <div class="cell medium-4">
    <div id="zoomer-image" data-src="{{img}}"></div>
  </div>
  <div class="cell medium-7 text">
    <div class="grid-x align-justify align-middle">
      <div class="cell small-6">
        <h2>{{name}}</h2>
      </div>
      <div class="cell small-2">
        <span class="price">{{price.value}}</span>&nbsp;
        <span class="price">{{price.currency}}</span>
      </div>
    </div>
    <hr />
    <div>
      <p>{{description}}</p>
    </div>
    <div id="button"></div>
  </div>
</div>