
    <td>
        <img src="{{img}}" width="100px" height="100px">
    </td>
    <td>
        <h5>{{name}}</h5>
        <p>{{description}}</p>
    </td>
    <td>
        <span>{{price.value}}</span>
        <span>{{price.currency}}</span>
    </td>

