<table class="hover table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Product info</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#if data}}
        {{#each data}}
        <tr id="product">
            <td>
                <img src="{{this.img}}" width="100px" height="100px">
            </td>
            <td>
                <h5>{{this.name}}</h5>
                <p>{{this.description}}</p>
            </td>
            <td>
                <span>{{this.price.value}}</span>
                <span>{{this.price.currency}}</span>
            </td>
        </tr>
        {{/each}}
        {{/if}}
    </tbody>
</table>
